body {
  background-color: #ebebeb;
}

/* Шапка */

header {
  background-color: white;
}

.header-container {
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.header-row {
  height: inherit;
}

.header-column {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-between;
}

.header-column__title {
  font-size: 1.5rem;
  font-weight: 400;
}

/* Бади) */

.row-main{
  align-items: flex-start;
  margin: 0;
}

.m-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.simple-window {
  background-color: white;
  padding: .75rem;
  border: 1px white solid;
  border-radius: .25rem;
}

.info-title {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: .5rem;
}

.login-window {
  height: fit-content !important;
}

.notification-window {
  background-color: #91d491;
  padding: .75rem;
  border-radius: .25rem;
}

.notification-window_hidden {
  display: none !important;
}

.notification-window_error {
  background-color: #f5c1c1 !important;
}

.form_hidden {
  display: none !important;
}

.auth-form__password-form{
  position: relative;

}

.auth-form__password-input{
  display: block;
}

.auth-form__password-show{
  position: absolute;
  width: 25px;
  height: 25px;
  right: 5px;
  top: 7px;
  background: url("https://icon2.cleanpng.com/20180409/qow/kisspng-computer-icons-eye-clip-art-eye-5acb3e37da4182.722290961523269175894.jpg") no-repeat 50% 50% inherit;
}

@media (max-width: 768px) {
  .login-window {
    order: 0;
  }

  .info-window {
    order: 1;
  }
}
