body {
    background-color: #ebebeb;
}

header {
    background-color: white;
}

.header-column-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-column__title {
    font-size: 1.4rem;
}

.header-container {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.row-main {
    margin: 0;
}

.m-3 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.simple-window {
    background-color: white;
    padding: .75rem;
    border: 1px white solid;
    border-radius: .25rem;
    box-shadow: none !important;
}

.login-window {
    height: fit-content !important;
    box-shadow: none !important;
}

.notification-window {
    background-color: #91d491;
    padding: .75rem;
    border-radius: .25rem;
}

.notification-window_hidden {
    display: none !important;
}

.notification-window_error {
    background-color: #f5c1c1 !important;
}

.form_hidden {
    display: none !important;
}

.auth-form__password-form{
    position: relative;

}

.auth-form__password-input{
    display: block;
}

.auth-form__password-show{
    position: absolute;
    width: 25px;
    height: 25px;
    right: 5px;
    top: 7px;
    background: url("https://icon2.cleanpng.com/20180409/qow/kisspng-computer-icons-eye-clip-art-eye-5acb3e37da4182.722290961523269175894.jpg") no-repeat 50% 50% inherit;
}

@media (max-width: 768px) {
    .login-window {
        order: 0;
    }

    .info-window {
        order: 1;
    }
}
