body{
    background-color: #ebebeb;
}

header{
    background-color: white;
}

.header-container{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.m-3{
    margin-left: 3rem;
    margin-right: 3rem;
}

.simple-window{
    background-color: white;
    padding: .75rem;
    border: 1px white solid;
    border-radius: .25rem;
}

.login-window{
    height: fit-content !important;
}
@media (max-width: 768px) {
    .main {
        display: flex;
        flex-flow: wrap;
    }
    .simple-window {
        order: 1;
    }
    .login-window {
        order: 0;
    }

}